* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

foreignObject {
    border-radius: 50%;
    overflow: hidden;
}

img {
    width:100%;
    height:100%;
}

.node {
    cursor: pointer;
}

.node--root,
.node--parent {
    fill: transparent;
}

.node:not(.node--root) {
    stroke: red;
    stroke-width: 2px;
}

.node--parent img {
    display: none;
    object-fit: cover;
}